<!--loading Wonder JQuery before Angular--> 
<script src="/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="/lib/jquery/dist/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="/lib/jquery/dist/jquery.flexslider.js" type="text/javascript"></script>
<script src="/lib/jquery/dist/jquery.custom.js" type="text/javascript"></script>
<script type="text/javascript">

// $(document).ready(function () {
//     console.log("Document is ready");

//     $("#btn-blog-next").click(function () {
//       $('#blogCarousel').carousel('next');
//     });
//      $("#btn-blog-prev").click(function () {
//       $('#blogCarousel').carousel('prev');
//     });

//      $("#btn-client-next").click(function () {
//       $('#clientCarousel').carousel('next');
//     });
//      $("#btn-client-prev").click(function () {
//       $('#clientCarousel').carousel('prev');
//     });
    
// });


</script>

<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
<script type="text/javascript" src="/js/filters.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/cwspaces.js"></script>

<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/cwspaces.js"></script>
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/init.js"></script>

<script>

// $(document).ready(function () {

//     $("#btn-blog-next").click(function () {
//       $('#blogCarousel').carousel('next')
//     });
//      $("#btn-blog-prev").click(function () {
//       $('#blogCarousel').carousel('prev')
//     });

//      $("#btn-client-next").click(function () {
//       $('#clientCarousel').carousel('next')
//     });
//      $("#btn-client-prev").click(function () {
//       $('#clientCarousel').carousel('prev')
//     });
    
// });

//  $(window).load(function(){
//     // console.log("window is loading");
//     // debugger;
//     // console.log(".flexslider array length",$('.flexslider').length);

//     $('.flexslider').flexslider({
//         animation: "slide",
//         slideshow: true,
//         start: function(slider){
//           // console.log("flexsider is running");
//           $('body').removeClass('loading');
//         }
//     });  
// });
</script>


{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
