<div class="home" data-ng-controller="CwspacesController" data-ng-init="find()">
<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
            <div class="span5 logo">
                <a href="/"><img class="photobox" src="img/boldGothamnonboldCoworking.png" alt=""></a>
            </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">
            
            <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="index-1.htm">Home <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="index.htm">Full Page</a></li>
                    <li><a href="index-gallery.htm">Gallery Only</a></li>
                    <li><a href="index-slider.htm">Slider Only</a></li>
                </ul>
            </li>
           <li><a href="features.htm">Features</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm">Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="page-full-width.htm">Full Width</a></li>
                    <li><a href="page-right-sidebar.htm">Right Sidebar</a></li>
                    <li><a href="page-left-sidebar.htm">Left Sidebar</a></li>
                    <li><a href="page-double-sidebar.htm">Double Sidebar</a></li>
                    <li><a href="page-price-table.htm">Prices Table</a></li>
                    <li><a href="page-services.htm">Services</a></li>
                    
                </ul>
            </li>
             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="gallery-4col.htm">Gallery <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="gallery-3col.htm">Gallery 3 Column</a></li>
                    <li><a href="gallery-4col.htm">Gallery 4 Column</a></li>
                    <li><a href="gallery-6col.htm">Gallery 6 Column</a></li>
                    <li><a href="gallery-single.htm">Gallery Single</a></li>
                </ul>
             </li>
             <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="blog-style1.htm">Blog <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="blog-style1.htm">Blog Style 1</a></li>
                    <li><a href="blog-style2.htm">Blog Style 2</a></li>
                    <li><a href="blog-single.htm">Blog Single</a></li>
                </ul>
             </li>
             <li><a href="page-contact.htm">Contact</a></li>
            </ul>
           
            </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="index.htm">Home</option>
                        <option value="index.htm">- Full Page</option>
                        <option value="index-gallery.htm">- Gallery Only</option>
                        <option value="index-slider.htm">- Slider Only</option>
                    <option value="features.htm">Features</option>
                    <option value="page-full-width.htm">Pages</option>
                        <option value="page-full-width.htm">- Full Width</option>
                        <option value="page-right-sidebar.htm">- Right Sidebar</option>
                        <option value="page-left-sidebar.htm">- Left Sidebar</option>
                        <option value="page-double-sidebar.htm">- Double Sidebar</option>
                        <option value="page-price-table.htm">- Prices Table</option>
                        <option value="page-services.htm">- Services</option>
                    <option value="gallery-4col.htm">Gallery</option>
                        <option value="gallery-3col.htm">- 3 Column</option>
                        <option value="gallery-4col.htm">- 4 Column</option>
                        <option value="gallery-6col.htm">- 6 Column</option>
                        <option value="gallery-single.htm">- Gallery Single</option>
                    <option value="blog-style1.htm">Blog</option>
                        <option value="blog-style1.htm">- Blog Style 1</option>
                        <option value="blog-style2.htm">- Blog Style 2</option>
                        <option value="blog-single.htm">- Blog Single</option>
                    <option value="page-contact.htm">Contact</option>
                </select>
                </div>
                </form>

        </div>
        
      </div><!-- End Header -->
     
        <div class="span 12">
            <section class="col-centered">
                <div class="input-append">
                    <form action="#">
                        <input ng-model="query" id="appendedInputButton" size="16" type="text" placeholder='Ex. "Brooklyn"'><div class="btn-group">
                          <button ui-sref="search" type="button" class="btn btn-default">Search</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Filter By</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Name</a></li>
                          </ul>
                        </div>
                    </form>
                </div>
            </section>
        </div>

    <!-- Blog Content
    ================================================== --> 
    <div class="row">

        <!-- Blog Posts
        ================================================== --> 
        <div class="span12 blog">

            <!-- Blog Post 1 -->
            <article data-ng-repeat="cwspace in cwspaces | filter:query">
                <div class="row">
                    <div class="span2 blog-style-2">
                        <h4 class="title-bg">{{cwspace.borough}} @{{cwspace.neighborhood}}</h4>
                        <ul class="post-data">
                            <li><a ui-sref="cwspace_by_id({cwspaceId: cwspace._id})"><img ng-src="/img/logos/{{cwspace.logo_filename}}"></a></li>


<!--                             <li><i class="icon-user"></i>Cost Range: </li>
                            <li><i class="icon-comment"></i>Contact: </li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">HTML</a>, <a href="#">design</a></li> -->


                        </ul>
                    </div>
                    <div class="span10">       
<!--                         <a href="blog-single.htm"><img src="img/gallery/post-img-1.jpg" alt="Post Thumb"></a> -->
                            <div class="post-body">
                                <div class="well">
                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading"><b><a ui-sref="cwspace_by_id({cwspaceId: cwspace._id})"><h5>{{cwspace.cwspace_name}}</a></b></h5></div>
                                      <table class="table">

                                        <tr>
                                          <td>ADDRESS</td>
                                          <td>{{cwspace.address}} {{cwspace.floor_suite_or_room}}</td>

                                          <td>SITE</td>
                                          <td><a href="{{cwspace.websiteurl}}">{{cwspace.websiteurl}}</a></td>
                                        </tr>

                                        <tr>
                                          <td>EMAIL</td>
                                          <td>{{cwspace.email||"no information"}}</td>

                                          <td>TWITTER</td>
                                          <td>{{cwspace.twitter||"no information"}}</td>
                                        </tr>

                                        <tr>
                                          <td>PHONE</td>
                                          <td>{{cwspace.phone||"no information"}}</td>

                                          <td>MEMBERSHIP / STARTUP FEE</td>
                                          <td>{{cwspace.membership_startupfees||"no information"}}</td>
                                        </tr>

                                        <tr>
                                          <td>DAILY RATE - ONE PERSON</td>
                                          <td>{{cwspace.oneperson_dailyrate||"no information"}}</td>

                                          <td>SHARED DESK - MONTHLY RATE - ONE PERSON</td>
                                          <td>{{cwspace.one_person_shareddesk_monthlyrate||"no information"}}</td>
                                        </tr>
                                        
                                        <tr>
                                          <td>PERSONAL DESK - MONTHLY RATE - ONE PERSON</td>
                                          <td>{{cwspace.oneperson_dedicateddesk_monthlyrate||"no information"}}</td>

                                          <td>GROUP TABLE - MONTHLY RATE</td>
                                          <td>{{cwspace.grouptablecluster_monthlyrate||"no information"}} for {{cwspace.grouptablecluster_capacity||" group table pricing"}}</td>
                                        </tr>

                                        <tr>
                                          <td>PRIVATE OFFICE - MONTHLY RATE</td>
                                          <td>{{cwspace.office_monthlyrate||"no information"}} for {{cwspace.office_capacity||"office pricing"}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                </div>
                           <blockquote>
                                {{cwspace.description}}<br> <a href="http://www.alleywatch.com/2014/01/the-complete-guide-to-coworking-in-nyc/">-AlleyWatch</a>
                           </blockquote>
                        </div>
                    </div>    
                </div>
            </article>
        </div>
    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->
    <div class="footer-container"><!-- Begin Footer -->
        <div class="container">
            <div class="row footer-row">
                <div class="span3 footer-col">
                    <h5>Contact Us</h5>
                   <img src="img/wonder-footer-logo.png" alt="Wonder" ><br><br>
                    <address>
                        <strong>Wonder Bunker</strong><br>
                        6064 Amazing St, <br>
                        Madrid, Spain.<br>
                    </address>
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                        <li><a href="#" class="social-icon forrst"></a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Tweets</h5>
                    <ul>
                        <li><a href="#">@Basicoh_</a> Hey! Buy this beautiful theme right now!.</li>
                        <li><a href="#">@Basicoh_</a> Wonder Theme is out Now!. You can buy it in Wrapbootstrap.com. Really easy to configure with a wonderful design.</li>
                        <li><a href="#">@Basicoh_</a> If you are an agency, freelancer or a studio, this theme is made for you. Take a look and enjoy it.</li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Latest Posts</h5>
                     <ul class="post-list">
                        <li><a href="#">Example post number 1</a></li>
                        <li><a href="#">Another example post title</a></li>
                        <li><a href="#">This is the third post title here</a></li>
                        <li><a href="#">Yet another post title for this list</a></li>
                        <li><a href="#">No more posts, this is the last one</a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Flickr Photos</h5>
                    <ul class="img-feed">
                        <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-2.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-3.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-4.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-5.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-6.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-7.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-8.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-9.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-10.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-11.jpg" alt="Image Feed"></a></li>
                        <li><a href="#"><img src="img/gallery/flickr-img-12.jpg" alt="Image Feed"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Wonder Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Features</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer --> 
    
    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    
</div>