.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.photobox {
    width: 475px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.angular-google-map-container {width: 770; height: 400px}

.col-centered{
    float: none;
    margin: 0 auto;
}